aiofiles==0.4.0
certifi==2018.10.15
chardet==3.0.4
httptools==0.0.11
idna==2.7
multidict==4.4.2
psutil==5.4.8
python-nmap==0.6.1
pyttsx3==2.7
requests==2.20.0
sanic==20.12.7
ujson==1.35
urllib3==1.24
uvloop==0.11.2
websockets==5.0.1
